h1 {
  text-align: center;
}

.square {
  background-color: lightgrey;
  border: black solid 1px;
  min-width: 75px;
  min-height: 75px;
  float: left;
}

#board {
  width: 237px;
  margin: 0px auto;
}

#board:after {
  content: '';
  clear: both;
  display: block;
}

.o {
  background-image: url('https://imo.im/developers/examples/O.png');
  background-size: 100% 100%;
}

.x {
  background-image: url('https://imo.im/developers/examples/X.png');
  background-size: 100% 100%;
}

.buttonHolder {
  margin-top: 50px;
  text-align: center;
}

.centered {
  text-align: center;
}

